server:
  port: 8081
  servlet:
    context-path: /auth

spring:
  application:
    name: auth-service
  cloud:
    config:
      enabled: false
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
  datasource:
    url: jdbc:mysql://localhost:3306/auth_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  # Clerk Configuration
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${CLERK_ISSUER_URL}
          jwk-set-uri: ${CLERK_JWKS_URL}

# Clerk Properties
clerk:
  jwks-url: ${CLERK_JWKS_URL}
  issuer-url: ${CLERK_ISSUER_URL}
  api-key: ${CLERK_API_KEY}

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
