server:
  port: 8081

spring:
  application:
    name: utility-service
  datasource:
    url: jdbc:mysql://localhost:3306/water_electricity_management?useSSL=false&serverTimezone=UTC&createDatabaseIfNotExist=true
    username: root
    password: nassim123
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    enabled: false
  instance:
    prefer-ip-address: true
